.header {
  height: 15vh;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color:$colorWhite;
  @media all and (min-width: 768px) {
    height: 12vh;
    justify-content: flex-start
    }
  &__link {
    margin-left: 31px;
  }
  &__img {
    height:auto;
    width: 201px;
    }
}
